footer {
    background-color: #333; /* Dark blue background */
    color: #fff; /* White text color */
    padding: 15px 0; /* Add some padding top and bottom */
    position: fixed; /* Fix the footer at the bottom of the viewport */
    width: 100%; /* Full width */
    bottom: 0; /* Stick it to the bottom */
    padding-top: 30px;

  }
  

  .copyright {
    position: absolute; /* Position the div absolutely within the footer */
    left: 50%; /* Move the div to the center horizontally */
    transform: translateX(-50%); /* Adjust to center the div */
    bottom: 10px; /* Set the distance from the bottom */
  }
  
  
  p {
    margin: 0; /* Remove default margin for paragraphs */
  }
